/*Variables*/
$grey: #8d8d8d;
$sky: #fafec5;
$lime: #ecfafd;
$fontTitle :'Paytone One', sans-serif;

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

h1{
  text-align: center;

}

.title{
  font-family: $fontTitle;
  text-align: center;
  margin: 1ex;
}