.cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin : 10px 0 0 0;
}


.carte{
    border : 1px solid #8d8d8d ;
    background-color: white;
    border-radius:50%; 
    width: 380px;
    height: 380px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin : 1ex;

    }

.colm{
    width: 100%;
    display : flex;
    flex-direction: column;
    align-items: center;
}

.image{
    border-radius:50%; 
   
}
.image:hover{
    background-color:$sky;
    
        
}

img{
    max-width: 25%;
    margin: 5ex;
}
.self{
    background-color:$lime;
}

