#infoStart{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  width: 100%;
/* background fallback for older browsers */
  background: $sky;
  background-image: linear-gradient(
    to right,
    $sky 50%,
    $lime 50%
  )
}
.wrap{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 5px;
    text-align: center;
}