#mainContent{
display: flex;
justify-content: space-around;
}

.board{
  display: flex;
  flex-direction: column;
  margin : 10px 0 0 0;

}

#score{
  margin: 1ex;
  h3{
    text-align: center;
  }

}


@mixin player ($color, $color2){
  background-color:$color ;
  border-radius: 5%;
  padding: 1ex;
  margin: 1ex;
  display: flex;
  justify-content: space-around;
}


.player-self{
  @include player($lime, $sky);
}
.player-other{
  @include player ($sky,$lime);
}

.buttonDiv{
  display: flex;
  justify-content: center;
}