/*Look at all the scss script*/
/*Variables*/
html {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0; }

*,
*:before,
*:after {
  box-sizing: inherit; }

h1 {
  text-align: center; }

.title {
  font-family: "Paytone One", sans-serif;
  text-align: center;
  margin: 1ex; }

#infoStart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  /* background fallback for older browsers */
  background: #fafec5;
  background-image: linear-gradient(to right, #fafec5 50%, #ecfafd 50%); }

.wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 5px;
  text-align: center; }

#mainContent {
  display: flex;
  justify-content: space-around; }

.board {
  display: flex;
  flex-direction: column;
  margin: 10px 0 0 0; }

#score {
  margin: 1ex; }
  #score h3 {
    text-align: center; }

.player-self {
  background-color: #ecfafd;
  border-radius: 5%;
  padding: 1ex;
  margin: 1ex;
  display: flex;
  justify-content: space-around; }

.player-other {
  background-color: #fafec5;
  border-radius: 5%;
  padding: 1ex;
  margin: 1ex;
  display: flex;
  justify-content: space-around; }

.buttonDiv {
  display: flex;
  justify-content: center; }

.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0 0 0; }

.carte {
  border: 1px solid #8d8d8d;
  background-color: white;
  border-radius: 50%;
  width: 380px;
  height: 380px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1ex; }

.colm {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; }

.image {
  border-radius: 50%; }

.image:hover {
  background-color: #fafec5; }

img {
  max-width: 25%;
  margin: 5ex; }

.self {
  background-color: #ecfafd; }
